.container-form {
  position: relative;

  &--rhomb::before {
    content: url("../image/decor/rhomb.png");
    position: absolute;
    top: rem(-191px);
    right: rem(24px);
  }

  &--rhomb::before {
    @include tablets {
      top: -13.7rem;
      right: 3.525rem;
    }

    @include phones {
      top: -7.8rem;
      right: 2.525rem;
    }
  }
}

.form {
  display: flex;
  
  @include tablets {
    flex-direction: column;
    padding: 0 18%;
  }

  @include phones {
    padding: 0;
  }
}

.form__col {
  flex: 1;
  margin-right: 1.68rem;

  &:last-child {
    margin-right: 0;
  }

  @include tablets {
    margin-right: 0;
  }
}

.form__row {
  display: flex;
  margin-bottom: 1.06rem;

  @include tablets {
    margin-bottom: 1.56rem;
  }

  &--textarea {
    margin-bottom: 2.625rem;

    @include tablets {
      margin-bottom: 1.325rem;
    }
  }
}

.form__block {
  flex: 1;
  margin-right: 1.25rem;

  &:last-child {
    margin-right: 0;
  }
}

.form__input {
  width: 100%;
  border: none;
  padding: 1rem 0.75rem 1.25rem 0.75rem;
  border: rem(3px) solid transparent;
  border-radius: rem(4px);

  &--textarea {
    height: 9.43rem;
    resize: none;

    @include tablets {
      height: rem(82px);
    }
  }

  &:focus {
    border-color: $color-red;
    outline: none;
  }

  @include tablets {
    padding: rem(8px) rem(8px) rem(8px) rem(10px);
  }
}

.form__controls {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1.25rem;

  @include phones {
    justify-content: center;
    margin-bottom: rem(14px);
  }
}


.form__btns {
  padding-top: 1.625rem;

  @include tablets {
    display: flex;
    justify-content: center;
  }

  @include phones {
    padding-top: 0.225rem;
  }
}

.error {
  color: red
}


