.hamburger {
  width: 24px;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  height: 20px;
  display: none;
  z-index: 100;
  @include tablets {
      display: inline-flex;
  }
  
  &--active{
    z-index: 2000;
    @include tablets {
      .hamburger__plank {
          background: white;
          &:nth-child(1) {
              transform: rotate( 45deg) translate(6px, 6px);
          }
          &:nth-child(2) {
              transform: rotate( -45deg) translate(6px, -5px);
          }
          &:nth-child(3) {
              display: none;
          }
      }
    }
  } 
}


.hamburger__plank {
  display: block;
  background: black;
  height: 4px;
  border-radius: 10px;
  transition: transform .3s, background .3s;
}
