.container-slider::before {
  content: url("../image/square.svg");
    position: absolute;
    width: 2.125rem;
    height: 2.125rem;
    bottom: -1.425rem;
    right: rem(94px);
    z-index: 10;
}

.products {
  display: flex;
  position: relative;
}


.products__item {
  display: flex;
  flex-shrink: 0;

}

.products-slider {
  position: relative;
}



