
html,
body {
  height: 100%;
}

*,
::before,
::after {
  box-sizing: border-box;
}

body {
  font-family: 'playregular', Helvetica, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
  position: relative;
}

.wrapper {
  position: relative;
  width: 100%;
  min-width: 940px;
  min-height: 100%;
  overflow: hidden;
}

.container {
  max-width: 940px;
  margin: 0 auto;
}

p {
  padding: 0;
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
  li {
    list-style: none;
  }
}

button {
  border: none;
  background: transparent;
  cursor: pointer;
}

footer {
  position: relative;
  width: 100%;
}

img {
  display: block;
  max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  font-weight: normal;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}




