
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@400;700&family=Play:wght@400;700&display=swap');


/*Как не пытался чего не делал но так шрифт этот не работает*/


/*
@font-face {
  font-family: 'alegreya_sansbold';
  src: url('../fonts/alegreyasans-bold-webfont.woff2') format('woff2'),
      url('../fonts/alegreyasans-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}


@font-face {
  font-family: 'alegreya_sansregular';
  src: url('../fonts/alegreyasans-regular-webfont.woff2') format('woff2'),
      url('../fonts/alegreyasans-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}


@font-face {
  font-family: 'playbold';
  src: url('../fonts/play-bold-webfont.woff2') format('woff2'),
      url('../fonts/play-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}


@font-face {
  font-family: 'playregular';
  src: url('../fonts/play-regular-webfont.woff2') format('woff2'),
      url('../fonts/play-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}*/


