/*COLOR*/

$color-title:#292929;
$color-text:#666666;
$color-bg: #F5F5F5;
$color-white: #FFFFFF;
$color-red: #E01F3D;
$coloro-red-hover:#CA1B36;
$color-circle: #F2F5F4;

/*Z-INDEX*/

$z-fixed-menu: 500;

