.footer {
  justify-content: flex-end;
}

.footer__wrap-map {
  flex: 1;
}

.footer__wrap-img {
  width: 100%;
  object-fit: cover;
}

.footer__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: rem(18px) 0;

  @include phones {
    flex-direction: column;
  }
}

.footer__content {
  font-size: rem(18px);
  line-height: rem(24px);

  @include phones {
    margin-bottom: rem(20px);
    text-align: center;
    letter-spacing: 0.5px;
  }
}

.footer__text {

  @include tablets {
    font-size: 1.425rem;
    line-height: 1.4rem;
    display: inline-block;
    margin-bottom: rem(8px);
  }

  @include phones {
    margin-bottom: rem(11px);
    display: inline-block;
    font-size: rem(17px);
    letter-spacing: rem(1.1px);
  }
}

.footer__svg-phone {
  width: rem(12px);
  height: rem(12px);

  @include phones {
    width: rem(14px);
    height: rem(14px);
    position: relative;
    right: 2px;
    top: 4px;
  }
}

.footer__phone {
  display: block;
  list-style: none;
  text-decoration: none;
  color: $color-title;

  @include tablets {
    font-size: rem(19px);
    margin-left: rem(5px);
  }

  @include phones {
    font-size: rem(16px);
  }
}
