.footer__wrap-img {
  width: 100%;
  object-fit: cover;
}

.footer__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: rem(18px) 0;

  @include phones {
    flex-direction: column;
  }
}

.footer__content {
  font-size: rem(18px);
  line-height: rem(24px);

  @include phones {
    margin-bottom: rem(20px);
    text-align: center;
  }
}

.footer__svg-phone {
  width: rem(12px);
  height: rem(12px);
}

.footer__phone {
  display: block;
  list-style: none;
  text-decoration: none;
  color: $color-title;
}
