.form {
  display: flex;
  
  @include tablets {
    flex-direction: column;
    padding: 0 16%;
  }
}

.form__col {
  flex: 1;
  margin-right: 1.68rem;

  &:last-child {
    margin-right: 0;
  }

  @include tablets {
    margin-right: 0;
  }
}

.form__row {
  display: flex;
  margin-bottom: 1.06rem;

  &--textarea {
    margin-bottom: 2.625rem;
  }
}

.form__block {
  flex: 1;
  margin-right: 1.25rem;

  &:last-child {
    margin-right: 0;
  }
}

.form__input {
  width: 100%;
  border: none;
  padding: 1rem 0.75rem 1.25rem 0.75rem;
  border: rem(3px) solid transparent;
  border-radius: rem(4px);

  &--textarea {
    height: 9.43rem;
    resize: none;

    @include tablets {
      height: 82px;
    }
  }

  &:focus {
    border-color: $color-red;
    outline: none;
  }

  @include tablets {
    padding: 8px 8px 8px 10px;
  }
}

.form__controls {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1.25rem;
  margin-left: 0.625rem;
}


.form__btns {
  padding-top: 1.625rem;

  @include tablets {
    display: flex;
    justify-content: center;
  }
}


