.hamburger {
  display: inline-flex;
  height: rem(27px);
  width: rem(30px);
  flex-direction: column;
  justify-content: space-between;
  display: none;
  margin-top: rem(5px);

  @include tablets {
    display: inline-flex;
    }

.hamburger__plank {
  display: block;
  background: $color-title;
  height: rem(4px);
  border-radius: rem(15px);
}

}
@include tablets {
  .hamburger--active {
    position: absolute;
    display: block;
    top: rem(42px);
    right: rem(42px);
}

.hamburger--active ::before {
      position: absolute;
      display: block;
      content: "";
      right: rem(20px);
      width: rem(3px);
      height: rem(20px);
      background-color: #fff;
      transform: rotate(-45deg);
      z-index: 10000;
    }

    .hamburger--active::after {
      position: absolute;
      display: block;
      content: "";
      right: rem(20px);
      width: rem(3px);
      height: rem(20px);;
      background-color: #fff;
      transform: rotate(45deg);
      z-index: 10000;
  }  
}
