.header{
  display: flex;
  align-items: flex-start;

  @include tablets {
    justify-content: space-between;
  }
}

.phone-number.header__phone-number {
  @include tablets {
    display: none;
  }
}

.logo {
  margin-right: 2.375rem;
  
  &__image {
    width: 2.5rem;
    height: 2.5rem;
  }
}

.menu {
  padding-top: 10px;
}

.menu {
  @include tablets {
    display: none;
  }
}

.menu__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
  
.menu__item {
  margin-right: 1.68rem;
  margin-bottom: rem(10px);
  
  &:last-child {
    margin-right: 0;
  }
}
.menu__link {
  text-decoration: none;
  color: $color-title;
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 1.125rem;
  white-space: nowrap;
}

.address {
  font-style: normal;
  padding-left: 4.43rem;
  position: relative;
  padding-top: rem(10px);
}

.phone-number {
  display: flex;
  align-items: center;
  font-size: 1.125rem;
  text-decoration: none;
  color: $color-title;
  position: relative;

  &__icon {
    flex-shrink: 0;
  }

  &__text {
    white-space: nowrap;
  }
}

.phone-number__svg {
  position: absolute;
  top: rem(1px);
  left: rem(-21px);
  width: rem(14px);
  height: rem(14px);
}







