.headline {
  text-align: center;
  margin-bottom: 3.875rem;

  @include tablets {
    margin-bottom: 4.375rem;
  }
}

.hedline__title {
  margin-bottom: 1.125rem;
  color: $color-title;


  @include phones {
    font-size: rem(32px);
    line-height: rem(36px);
  }
}

.hedline__subtitle {
    padding: 0 20%;

    @include tablets {
    padding: 0 10%;
    letter-spacing: 0.6px;
    margin-bottom: 0.925rem;
    }

    @include phones {
      padding: 0 6%;
    }
}