.headline {
  text-align: center;
  margin-bottom: 3.875rem;
}

.hedline__title {
  margin-bottom: 1.125rem;
  color: $color-title;

  @include phones {
    font-size: 32px;
    line-height: 36px;
  }
}

.hedline__subtitle {
    padding: 0 20%;

    @include tablets {
    padding: 0 10%;
    }

    @include phones {
      padding: 0 6%;
    }
}