.header{
  display: flex;
  align-items: center;
}

.logo {
  width: 2.5rem;
  height: 2.5rem;
  margin-right: 2.375rem;
  
  &__image {
    object-fit: cover;
  }
}

.menu__list {
  display: flex;
  justify-content: space-between;
}
  
.menu__item {
  margin-right: 1.68rem;
  
  &:last-child {
    margin-right: 0;
  }
}
.menu__link {
  text-decoration: none;
  color: $color-title;
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 1.125rem;
}

.address {
  font-style: normal;
  padding-left: 4.43rem;
  position: relative;
}

.phone-number {
  display: flex;
  align-items: center;
  font-size: 1.125rem;
  text-decoration: none;
  color: $color-title;
  position: relative;

  &__icon-img {
    width: 0.875rem;
    height: rem(935px);
    margin-right: 0.625rem;
  } 
}

.phone-number__svg {
  position: absolute;
  top: rem(1px);
  left: rem(-21px);
  width: rem(14px);
  height: rem(14px);
}







