.page {
  background: #F5F5F5;
  height: 100vh;
  min-height: rem(650px);
  color: $color-text;
  position: relative;

  &::before {
    content: url("../image/decor/rectangle.png");
    position: absolute;
    bottom: -1.68rem;
    right: rem(500px);
  }

  &::before {
    @include tablets {
      bottom: -20px;
      right: 50px;
    }
  }
}

.page__container {
  background: url("../image/ellipse.png") right center / 57% no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 1.56rem 0 3.125rem 0;

  @include tablets {
    background: url("../image/ellipse.png") top 198px center / 45% no-repeat;
    padding-bottom: 95px;
  }
}


.page__title-section {
  width: 46%;

  @include tablets {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
  }
}

.page__main-title {
  color: $color-title;
  font-size: 3rem;
  text-transform: uppercase;
  line-height: 1.1;
  font-weight: 700;
  margin-bottom: 1.375rem;
  max-width: 630px;

  @include tablets {
    margin-bottom: 20px;
  }
}

.page__title-desc {
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 1.3rem;
  line-height: 1.2;
  color: $color-title;
  margin-bottom: 2.1rem;
  padding-right: 22%;

  @include tablets {
    padding-right: 0;
    padding: 0 22%;
    display: flex;
    justify-content: center;
  }
}