.page {
  background: #F5F5F5;
  height: 100vh;
  min-height: rem(650px);
  color: $color-text;
  position: relative;

  &::before {
    content: url("../image/decor/rectangle.png");
    position: absolute;
    bottom: -1.68rem;
    right: rem(500px);
    
  }
}

.page__container {
  background: url("../image/ellipse.png") right center / 57% no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 1.56rem 0 3.125rem 0;
}

.page__title-section {
  width: 46%;
}

.page__main-title {
  color: $color-title;
  font-size: 3rem;
  text-transform: uppercase;
  line-height: 1.1;
  font-weight: 700;
  margin-bottom: 1.375rem;
}

.page__title-desc {
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 1.3rem;
  line-height: 1.2;
  color: $color-title;
  margin-bottom: 2.1rem;
  padding-right: 22%;
}