.products-slider {
  position: relative;
}


.products-slider__arrows::before{
  content: "";
  background-image: url("/../image/product/left.svg");
  width: 24px;
  height: 40px;
  display: block;
  position: absolute;
  transform: rotate(180deg);
  right: 0px;
  top: 300px;
  z-index: 10;
}

.products-slider__arrows::after{
  content: "";
  background-image: url("/../image/product/left.svg");
  width: 24px;
  height: 40px;
  display: block;
  position: absolute;
  left: 0;
  top: 300px;
  bottom: 0px;
  z-index: 10;
}

