.radio {
  display: flex;
  cursor: pointer;
  user-select: none;
  margin-right: 1.06rem;
  gap: 0.625rem;

  &--checkbox {
    .radio__visible {
      border-radius: 4px;

      &::before {
        background: url("../image/vector.svg") center center no-repeat;
      }
    }
  }
}

.radio__elem {
  display: none;

  &:checked ~ .radio__visible {
    &::before {
      display: block;
    }
  }
}

.radio__visible {
  width: 1.56rem;
  height: 1.56rem;
  position: relative;
  border-radius: 50%;
  background: $color-white;

  &::before {
    content: "";
    width: 0.81rem;
    height: 0.81rem;
    position: absolute;
    background: $color-red;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
  }
}