.section {
  height: 100vh;
  min-height: 650px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;

  &-font-color-white {
    color: $color-white;
    .section__title {
      color: inherit;
    }
  }
  &--rhomb::before {
    content: url("../image/decor/rhomb.png");
    position: absolute;
    top: -25px;
    right: 500px;

  }
}

.section__title {
  font-size: 48px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 60px;
  text-align: center;
  color: $color-title;
}




