.section {
  height: 100vh;
  min-height: rem(650px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;

  &-font-color-white {
    color: $color-white;
    .section__title {
      color: inherit;
    }
  }
}

.section__title {
  font-size: 3rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 3.75rem;
  text-align: center;
  color: $color-title;

  @include tablets {
    letter-spacing: 2.1px;
  }
  

  &--reviews {
    margin-bottom: 1.875rem;
  }

  &--reviews {
    @include phones {
      font-size: rem(32px);
      line-height: rem(36px);
    }
  }

  &--delivery {
    @include tablets {
      margin-bottom: rem(39px);
    }
  }

  &--delivery {
    @include phones {
      font-size: rem(32px);
      line-height: rem(36px);
    }
  }
}







