.social {
  display: flex;
  align-items: center;
  position: relative;
  left: rem(20px);

  &__item {
    margin-left: rem(10px);
  }

  &__svg {
    width: rem(30px);
    height: rem(30px);
    fill: #B3B3B3;
    transition: all 0.5s;
  }

  &__svg--active {
    fill: #000;
  }

  &__svg:hover {
    fill: #000;
  }
}



