.btn {
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  padding: 18px 41px;
  color: $color-white;
  background: $color-red;
  border-radius: 100px;
}