.btn {
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  padding: 18px 41px;
  border-radius: 100px;
  border: none;
  cursor: pointer;

  &-theme--red {
    background: $color-red;
    color: $color-white;
    transition: 0.2s linear;

    &:hover {
      background: $coloro-red-hover;
    }
  }
  &-theme--transparent {
    background: transparent;
    color: $color-white;
    text-transform: none;
    transition: 0.2s linear;

    &:hover {
      color: $color-red;
    }
  }
}