.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 40px;
  height: 40px;
  
  &__image {
    object-fit: cover;
  }
}

.menu__list {
  display: flex;
  justify-content: space-between;
}
  
.menu__item {
  margin-right: 27px;
  
  &:last-child {
    margin-right: 0;
  }
}
.menu__link {
  text-decoration: none;
  color: $color-title;
}

.address {
  font-style: normal;
  padding-left: 20px;
  position: relative;
}

.phone-number {
  display: flex;
  align-items: center;
  font-size: 18px;
  text-decoration: none;
  color: $color-title;

  &__icon-img {
    width: 14px;
    height: 15px;
    margin-right: 10px;
  } 
}







