.why {
  padding-bottom: 100px;
}

.whys {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {
    font-size: 48px;
    font-weight: 700;
    text-transform: uppercase;
  }
  &__text {
    color: $color-text;
    width: 590px;
    text-align: center;
  }
}